body{
    color:gray;
    background: lightgoldenrodyellow;
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    */
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.button{
    width: 20%;
    height: 30px;
    border-radius: 15px;
        background: black;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    }
.button:hover{
    background: red;
    color: #fff;
}   
.clr{
    clear: both;
} 
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: darkred;
}
a:active{
    color:green;
}
/*
a:visited{
    color:blue;
}
*/

.box-1{
    background: darkblue;
    color: #fff;
    /*
    border-right: 5px solid red;
    border-left: .....;
    border-top: ....;
    border-bottom: ....;
    */
    border: 5px solid red;
    border-width: 3px;
    border-top-width: 7px;
    border-left-style: double;
    /*padding-top,padding right,padding-bottom, padding-left;
    */
    padding:10px ;
    margin: 20px;  /*for adding margin 20px on every site */
    margin: 20px 0; /*adding 20px margin on top and button */
}
.box-1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 1em;    /* 1em=16px */
}
.box-2 {
    border: 4px dashed yellow;
    padding: 20px;
    margin: 20px 0;
}
.categories{
    border: 2px solid gray;
    padding:10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
} 
.categories ul{
    padding: 0;
    list-style: none;
}
.categories li{
    padding-bottom: 7px;
    border-bottom: 2px solid darkviolet;
    /*list-style-image: url();    //WE can put images for every list items// */
}
.my-form{
    padding:20px;
}
.my-form .form-group{
    padding-bottom: 5px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 7px;
    width: 100%;
}
.block{
    float:left;
    width: 33.33%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 20px;
}
.main-header{
    float: left;
    width: 70%;
}
.side-bar{
    float: right;
    width: 30%;
    padding: 10px;
    border:1px solid darkcyan;
    background: black;
    color: white;
    box-sizing: border-box;
}
.p-box{
    width: 800px;
    padding: 10px;
    margin: 10px;
    height: 500px;
    border: 1px solid gray;
    position: relative;
    background-image: url('light.jpeg');
    /*background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center bottom;
    */
}
.p-box h1{
    position: absolute;
    right: 0px;
}
.p-box h2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.fix {
    position: fixed;
    width: 8%;
    top: 100px;
}
.list li:first-child{
color: red;
}
.list li:last-child{
    color: royalblue;
}
.list li:nth-of-type(odd){
    color: seagreen;
}
.list li:nth-child(3){
    color:rebeccapurple;
}